.lower_box{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    width: 50vw;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px #d6d6d6 ;
}
.mic-animation{

    position: relative;
    /* background-color: green; */
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.circle{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    left: 40%;
}
.red-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    padding: 15px;
    border: 10px solid #ff0008;
}
.lower_box_activebgc{
    background-color: #ffffff;
}
.lower_box_speakenable{
    background-color: #c0daf8;
}
.rip{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color:#434242;
    height: 50px;
    width: 50px;
    /* left: -10%; */
    right: 10%;
    border-radius: 50%;
    box-shadow: 0 0 0 .7rem #6b6b6b,
    0 0 0 1.5rem  #cdc4c4,
    0 0 0 2rem #f0ecec;
    z-index: 99;
}
.rip-ani{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#33a4ff;
    height: 50px;
    width: 50px;
    left: 24.5%;
    /* right: 20%; */
    border-radius: 50%;
    z-index: 99;
    animation: rip 2s ease-in-out infinite reverse;

}
@keyframes rip {
    0% {
        box-shadow: 0 0 0 .7rem #33a4ff,
                    0 0 0 1.5rem  #b2dcff,
                    0 0 0 2rem #ffffff;
      }
      100% {
        box-shadow: 0 0 0 .7rem #33a4ff44,
                    0 0 0 1.5rem  #58b5ff44,
                    0 0 0 2rem #addbff44;
      }
}
.svg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ans_timer{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 70%;
    left: 30%;
}
.ans_timer>h5{
    margin-right: 10px;
}
.box2_timer{
    display: flex;
    column-gap: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 3px 0px #727171 ;
    border-radius: 25px;
    height: 30px;
    width:max-content;
    padding-right: 10px;
}
.alarm2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    border-radius: 10px;
}
.alarm_text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight:500;
    color: #808080;
}
.alarm_text>span{
    margin-right: 5px;
    color: #126aaa;
}
